body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 425px;
  border-radius: 5%;
  box-sizing: border-box;
}

.front {
  padding: 30px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: hsl(213, 9%, 23%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container header {
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.front header {
  margin-top: 20px;
}
.main-container p,
.numbers {
  color: hsl(217, 12%, 63%);
  font-family: "Overpass", sans-serif;
}
.main-container p {
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
}

.numbers {
  margin: 10px;
  padding: 0;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}

.submit {
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  background-color: hsl(25, 97%, 53%);
  text-align: center;
  font-family: "Overpass", sans-serif;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
}

.numbers .circle,
.submit {
  transition: 0.5s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.numbers .circle:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.back {
  padding: 45px 40px;
  align-items: center;
  display: none;
}

.back .thankyou {
  text-align: center;
}

.back .selection {
  background-color: hsl(213, 9%, 23%);
  color: hsl(25, 97%, 53%);
  padding: 5px 10px;
  border-radius: 50px;
}
