body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
}

.review-container {
  background-color: hsl(213, 19%, 18%);
  max-width: 425px;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

.sub-review-container {
  max-width: 80%;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: hsl(213, 9%, 23%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-container header {
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-top: 40px;
}

.review-container p,
.numbers {
  color: hsl(217, 12%, 63%);
  font-family: "Overpass", sans-serif;
}
.review-container p {
  font-size: 15px;
  line-height: 1.5;
}

.numbers {
  margin: 30px 0px;
  padding: 0;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}

.submit {
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  background-color: hsl(25, 97%, 53%);
  text-align: center;
  font-family: "Overpass", sans-serif;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
}

.numbers .circle,
.submit {
  transition: .5s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);;
}

.numbers .circle:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}